@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
body {
    margin: 0px;
    padding: 0px;
    font-family: "Red Hat Display";
    background: url(./images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    background-color: var(--color-azul-claro);
    background-size: 100vw 40vh;
}

 :root {
    --color-azul-claro: hsl(225, 100%, 94%);
    --color-brilhante-azul-claro: hsl(245, 75%, 52%);
    --color-azul-muito-claro: hsl(225, 100%, 98%);
    --color-zul-dessaturado: hsl(224, 23%, 55%);
    --color-zul-escuro: hsl(223, 47%, 23%);
    --font-size-paragraph: 16px;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.box_principal {
    max-width: 300px;
    background-color: white;
    border: none;
    border-radius: 15px;
    box-shadow: 10px 9px 10px hsl(225deg 100% 92%);
}

.imagem_top img {
    width: 100%;
    height: auto;
    border: none;
    border-radius: 15px 15px 0px 0px;
}

.titulo_descricao {
    text-align: center;
    padding: 15px;
}

.titulo_descricao h1 {
    font-size: 1.5em;
    font-weight: 900;
    color: var(--color-zul-escuro);
}

.titulo_descricao p {
    font-size: var(--font-size-paragraph);
    color: var(--color-zul-dessaturado);
    line-height: 23px;
}

.box_planos {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 80%;
    justify-content: center;
}

.planos {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: var(--color-azul-muito-claro);
    padding: 15px 5px;
    border: none;
    border-radius: 15px;
}

.annual {
    color: var(--color-zul-escuro);
    font-weight: 900;
    line-height: 1.6em;
    padding: 0px 0px 0px 10px;
    flex: 1;
}

.planos span {
    color: var(--color-zul-dessaturado);
    font-weight: 500;
}

.pagamentos {
    background-color: var(--color-brilhante-azul-claro);
    color: var(--color-azul-muito-claro);
    text-align: center;
    font-weight: 700;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 9px 10px hsl(225deg 100% 92%);
}

.link a {
    color: var(--color-brilhante-azul-claro);
}

.cancel {
    color: var(--color-zul-dessaturado);
    margin-bottom: 30px;
    font-weight: 700;
    text-align: center;
}

@media screen and (min-width: 600px) {
    .box_principal {
        max-width: 400px;
    }
    .titulo_descricao {
        padding: 20px;
    }
}

.pagamentos:hover {
    background: var(--color-zul-dessaturado);
    cursor: pointer;
}

.link a:hover {
    cursor: pointer;
    text-decoration: none;
}


}