            @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');
            body {
                margin: 0px;
                padding: 0px;
                font-family: "Red Hat Display";
                background: var(--color-azul-claro);
                box-sizing: border-box;
            }
            
             :root {
                --color-azul-claro: hsl(225, 100%, 94%);
                --color-brilhante-azul-claro: hsl(245, 75%, 52%);
                --color-azul-muito-claro: hsl(225, 100%, 98%);
                --color-zul-dessaturado: hsl(224, 23%, 55%);
                --color-zul-escuro: hsl(223, 47%, 23%);
                --font-size-paragraph: 16px;
            }
            
            main {
                background: white;
                margin: 30px;
                border: none;
                border-radius: 10px;
                max-width: 300px;
                margin: 30px auto;
                box-shadow: 10px 9px 10px hsl(225deg 100% 92%);
            }
            
            .box_principal {
                display: grid;
                text-align: center;
            }
            
            .imagem_top img {
                width: 100%;
                height: auto;
                border: none;
                border-radius: 15px 15px 0px 0px;
            }
            
            .titulo_descricao {
                padding: 8px;
            }
            
            .titulo_descricao h1 {
                font-size: 1.7em;
                font-weight: 900;
                color: var(--color-zul-escuro);
            }
            
            .titulo_descricao p {
                font-size: var(--font-size-paragraph);
                color: var(--color-zul-dessaturado);
                padding: 10px;
                line-height: 23px;
            }
            
            .box_planos {
                display: grid;
                grid-gap: 30px;
                justify-content: center;
            }
            
            .planos {
                display: flex;
                flex-direction: row;
                align-items: center;
                background: var(--color-azul-muito-claro);
                padding: 15px;
                border: none;
                border-radius: 15px;
            }
            
            .annual {
                color: var(--color-zul-escuro);
                font-weight: 900;
                line-height: 1.6em;
                padding: 0px 20px 0px 10px;
            }
            
            .planos span {
                color: var(--color-zul-dessaturado);
                font-weight: 500;
            }
            
            .pagamentos {
                background-color: var(--color-brilhante-azul-claro);
                color: var(--color-azul-muito-claro);
                font-weight: 700;
                border-radius: 10px;
                padding: 15px;
                box-shadow: 4px 22px hsl(225, 100%, 96%);
            }
            
            .link a {
                color: var(--color-brilhante-azul-claro);
            }
            
            .cancel {
                color: var(--color-zul-dessaturado);
                margin-bottom: 30px;
                font-weight: 700;
            }
            
            @media screen and (min-width: 600px) {
                main {
                    max-width: 400px;
                }
                body {
                    background: url(./images/pattern-background-desktop.svg);
                    background-repeat: no-repeat;
                    background-color: var(--color-azul-claro);
                }
                .pagamentos:hover {
                    background: var(--color-zul-dessaturado);
                    cursor: pointer;
                }
                .link a:hover {
                    cursor: pointer;
                    text-decoration: none;
                }
            }
